<p>
  <b>Code:</b>
  <%=h @building.code %>
</p>

<p>
  <b>Name:</b>
  <%=h @building.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @building.description %>
</p>


<%= link_to 'Edit', edit_building_path(@building) %> |
<%= link_to 'Back', buildings_path %>