
<p>
  <b>Name:</b>
  <%=h @course.name %>
</p>

<p>
  <b>Description:</b>
  <%=h @course.description %>
</p>

 <p><b>Building</b>: <%= link_to @course.room.building.name %><p>
<p><b>Room</b>: <%= link_to @course.room.name %></tr>
<p><b>Students</b>: <%= link_to @course.students.count %></p>
<p><b>Instructors</b>: <%= link_to @course.instructors.count %></p>

<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>