<p><%=h @course.description%></p>

    <p><b>Building</b>: <%= link_to h(@course.room.building.name), building_path(@course.room.building) %><p>
    <p><b>Room</b>: <%= link_to h(@course.room.name), room_path(@course.room) %></tr>
    <p><b>Students</b>: <%= link_to @course.students.count%></p>
    <p><b>Instructors</b>: <%= link_to @course.instructors.count%></p>

<h2>Students</h2>
<table>
      <thead>
          <tr>
            <th>Email</th>
            <th>Enrolled Courses</th>
            <th>Actions</th>
          </tr>
      </thead>
      <tbody>
          <%= render :partial => 'students/row', :collection => @course.students %>
      </tbody>
</table>

<h2>Instructors</h2>
<table>
      <thead>
          <tr>
            <th>Email</th>
            <th>Courses Taught</th>
            <th>Actions</th>
          </tr>
      </thead>
        <tbody>
          <%= render :partial => 'instructors/row', :collection => @course.instructors %>
        </tbody>
</table>

    